{
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-use-before-define": "off",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "template-curly-spacing": "off",
    "newline-per-chained-call": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "_doc"
        ]
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "@typescript-eslint/no-inferrable-types": [
      "error",
      {
        "ignoreParameters": true,
        "ignoreProperties": true
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      "error"
    ]
  }
}