/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  min-height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --doc-height: calc(100% - 2rem);
  --min-touch-target-size: 2.625rem;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: unset;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

button {
  transition: all 0.15s ease-in-out;
  font-weight: 500;
}

button,
input,
textarea {
  min-height: var(--min-touch-target-size);
}

.truncate,
.truncate * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

*:focus {
  outline-color: var(--nc-ac-1);
}

table td.truncate {
  max-width: 16ch;
}