.paginationButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.active {
  background-color: var(--nc-ac-1);
}